@charset "utf-8";

// common
html, body {
  position: relative;
  height: 100%;
}

.p {
  margin-bottom: 30px;
}

// swiper
.swiper {
  height: 100%;
}

.swiper01 {
  width: 430px;
  background-color: #ddd;
  margin-bottom: 30px;
  .swiper-slide {
    img {
      width: 100px;
    }
  }
}

.swiper02 {
  width: 510px;
  background-color: #dde;
  margin-bottom: 40px;
  .swiper-slide {
    img {
      width: 120px;
    }
  }
}

.swiper03 {
  width: 430px;
  background-color: #edd;
  margin-bottom: 30px;
  .swiper-slide {
    img {
      width: 100px;
    }
  }
}

// responsive 768-
@media screen and (max-width: 768px) {
  body {
    background-color: #efe;
  }

  // swiper
  .swiper {
    width: auto;
    max-width: 400px;
    .swiper-wrapper {
      display: flex;
      overflow-x: auto;
    }
    .swiper-slide {
      display: inline-block;
    }
    .swiper-button {
      display: none;
    }
  }
  .swiper01 {
    .swiper-slide {
      margin-right: 10px;
      width: 70px;
      img {
        width: 70px;
      }
    }
  }
  .swiper02 {
    .swiper-slide {
      margin-right: 10px;
      width: 80px;
      img {
        width: 80px;
      }
    }
  }
  .swiper03 {
    .swiper-slide {
      margin-right: 10px;
      width: 70px;
      img {
        width: 70px;
      }
    }
  }
}
