doctype html
html(lang=ja)
  include ../include/head
  body
    .wrapper
      include ../include/header
      block body
      include ../include/footer

    //- scripts
    script(src='js/common.js')
