
.swiper-container.swiper.swiper03.js-swiper03
  .swiper-wrapper.js-swiper-list
    //- .swiper-slide
    //-   img(src="img/009.png", alt="")
  .swiper-button-prev.swiper-button-white.swiper-button.js-swiper-prev
  .swiper-button-next.swiper-button-white.swiper-button.js-swiper-next
