
.swiper-container.swiper.swiper01.js-swiper01
  .swiper-wrapper.js-swiper-list
    //- .swiper-slide
    //-   img(src="img/009.png", alt="")
    //- .swiper-slide
    //-   img(src="img/090.png", alt="")
    //- .swiper-slide
    //-   img(src="img/900.png", alt="")
    //- .swiper-slide
    //-   img(src="img/009.png", alt="")
    //- .swiper-slide
    //-   img(src="img/090.png", alt="")
    //- .swiper-slide
    //-   img(src="img/900.png", alt="")
    //- .swiper-slide
    //-   img(src="img/009.png", alt="")
  .swiper-button-prev.swiper-button-white.swiper-button.js-swiper-prev
  .swiper-button-next.swiper-button-white.swiper-button.js-swiper-next
