
.swiper-container.swiper.swiper02.js-swiper02
  .swiper-wrapper.js-swiper-list
    //- .swiper-slide
    //-   img(src="img/3d7.png", alt="")
    //- .swiper-slide
    //-   img(src="img/37d.png", alt="")
    //- .swiper-slide
    //-   img(src="img/d37.png", alt="")
    //- .swiper-slide
    //-   img(src="img/3d7.png", alt="")
    //- .swiper-slide
    //-   img(src="img/37d.png", alt="")
    //- .swiper-slide
    //-   img(src="img/d37.png", alt="")
    //- .swiper-slide
    //-   img(src="img/3d7.png", alt="")
    //- .swiper-slide
    //-   img(src="img/37d.png", alt="")
    //- .swiper-slide
    //-   img(src="img/d37.png", alt="")
    //- .swiper-slide
    //-   img(src="img/3d7.png", alt="")
    //- .swiper-slide
    //-   img(src="img/37d.png", alt="")
    //- .swiper-slide
    //-   img(src="img/d37.png", alt="")
    //- .swiper-slide
    //-   img(src="img/3d7.png", alt="")
  .swiper-button-prev.swiper-button-white.swiper-button.js-swiper-prev
  .swiper-button-next.swiper-button-white.swiper-button.js-swiper-next
