
div.swipe.js-swipe
  ul.swiper-wrapper
    li.swiper-slide
      img(src="https://dummyimage.com/400x400/666/ffffff.png", alt="")
    li.swiper-slide
      img(src="https://dummyimage.com/400x400/666/ffffff.png", alt="")
    li.swiper-slide
      img(src="https://dummyimage.com/400x400/666/ffffff.png", alt="")
    li.swiper-slide
      img(src="https://dummyimage.com/400x400/666/ffffff.png", alt="")
    li.swiper-slide
      img(src="https://dummyimage.com/400x400/666/ffffff.png", alt="")
    li.swiper-slide
      img(src="https://dummyimage.com/400x400/666/ffffff.png", alt="")
    li.swiper-slide
      img(src="https://dummyimage.com/400x400/666/ffffff.png", alt="")
    li.swiper-slide
      img(src="https://dummyimage.com/400x400/666/ffffff.png", alt="")
    li.swiper-slide
      img(src="https://dummyimage.com/400x400/666/ffffff.png", alt="")
    li.swiper-slide
      img(src="https://dummyimage.com/400x400/666/ffffff.png", alt="")
  span.before.js-swipe-prev ＜
  span.after.js-swipe-next ＞
